@import "tailwindcss";

@theme {
  --font-heading: var(--font-poppins), sans-serif;
  --font-body: var(--font-inter), system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-body text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

